{% layout "layout.liquid" %} {% block content %}
<div>
  <h1>Welcome to Visions!</h1>
  <a href="/user/signup"><button>Signup</button></a>
  <a href="/user/login"><button>Login</button></a>
</div>
{% endblock %}

