{% layout "layout.liquid" %} {% block content %}
<div class="container-fluid" id="indexContainer">
  <h1>Welcome to Visions!</h1>
 <div id="acctBtns">
  <a href="/user/signup"><button class="btn-lg btn-outline-secondary">Signup</button></a>
  <a href="/user/login"><button class="btn-lg btn-outline-secondary">Login</button></a>
</div>
</div>
{% endblock %}

