header h1 {
    text-align: center;
    color: navy;
    

}
div.container{

    display: flex;
    flex-direction: row;
    background-color: white;

}

div.row {
    width: 20%;
    display: flex;


}