header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.newBtn{
    display: flex;
    justify-content: flex-start;
}

header h1 {


    text-align: left;
    color: navy;
    

}
div.container{

    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
    background-color: white;

}

div.row {
    width: 20%;
    display: flex;
    flex-direction: row-reverse;

}

.mainBtn{
    display: flex;
    justify-content: flex-end;

}

article h2 {
    text-align: center;
}

div.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h3{
    text-align: center;
}

.edit-delete-nav {
    display: flex;
    flex-direction: flex-end;
    justify-content: space-evenly;

}