{% layout "layout.liquid" %} {% block content %}

<div>
  
  <p>Visions is a digital vision board. Add, edit and delete photos to the cork board. Visions provides an on the go goal viewer, event planner, vision viewer! </p>
 
</div>

{% endblock %}
