{% layout "layout.liquid" %} {% block content %}

<div class="container" id="aboutContainer">
  <h1>About Visions</h1>
  <p>Visions is a digital vision board. Add, edit and delete photos to the cork board. Visions provides an on the go goal viewer, event planner, vision viewer! </p>
 
 <div class="mainBtn"><a href="/visions"><button type="button" class="btn btn-outline-secondary">Back to Main</button>
</div>

{% endblock %}
