{% layout "layout.liquid" %} {% block content %}

<div>
  
  
 
  <div class="container flex-container">
    <div class="row justify-content-center">
      {% for vision in visions %}
        <div class="column">
     <a href="/visions/{{vision._id}}"> <img src="{{ vision.image }}" class="img-thumbnail" /></a>
      {% if vision.complete == true %} - Complete  {% else %} - Not Complete {% endif %}
    </div>
    {% endfor %}
    </div>
  </div>
 
</div>

{% endblock %}
