{% layout "layout.liquid" %} {% block content %}

<div class="container-fluid" id="corkBoard">
  
  
 
  <div class="container flex-container">
    <div class="row">
      {% for vision in visions %}
        <div class="col-sm col-md col-lg col-xl">
     <a href="/visions/{{vision._id}}"> <img src="{{ vision.image }}" class="img-thumbnail img-fluid" /></a>
     <br/>
      {% if vision.complete == true %} - Complete  {% else %} - Not Complete {% endif %}
    </div>
    {% endfor %}
    </div>
  </div>
 
</div>

{% endblock %}
