{% layout "layout.liquid" %} {% block content %}

<div class="form">

<form action="/visions" method="POST">
    <h3>Create a new Vision</h3>
    <div class="form-group">
     
 <label class="form-label">  
 Title:<input type="text"  class="form-control" name="title" placeholder="enter a title here">  
</label> 
</div>
<!-- choose image -->
<div class="form-group">
 <label class="form-label">
     Choose an image:<input type="text"  class="form-control" name="image" placeholder="insert image URL here"></label> 
</div>
 
<!-- description -->
<div class="form-group">
<label class="form-label">
    Description:<input type="textarea" class="form-control" name="description" id="description"   placeholder="description goes here"> 
</label>
</div>

<!-- checkbox -->
<div class="checkbox">
<label class="form-label">
   Complete: <input type="checkbox" name="complete"/>
</label>
</div>

<!-- submit btn -->
<input type="submit" class="btn btn-outline-secondary" value="create new Vision"/>

</form>
</div>
{% endblock %}

